.header-container {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.header {
  display: flex;
  list-style: none;
}

.header li {
  font-family: 'Kanit', sans-serif;
}

.header-item {
  font-family: 'Kanit', sans-serif;
  color: #0290ff;
  font-weight: bold;
  font-size: 1.6rem;
  margin: -1.5% 2.9rem 0 0;
}

.active {
  font-weight: bold;
}

.logo {
  margin: 1.8% 3% 0 0;
}
